{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set share_url = absolute_node_url ~ "?utm_medium=social&utm_campaign=Sharing&utm_source=" %}
{% set url = url('<current>') %}

{% if 'fia/nodes.xml' in url|render|render %}
{{ content.field_image }}
{% else %}
{% if content %}
    {% block img_container_block %}
        <div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">
            {{ content.field_image }}
        </div>
    {% endblock %}
    {% block caption_block %}
        <div class="caption">
            {% block copyright_block %}
                {% if content.field_copyright | plain_text or content.field_source | plain_text %}
                    <div class="text-copyright">
                        {% if content.field_copyright | plain_text %}
                            <span>{{ content.field_copyright }}</span>
                        {% endif %}
                        {% if content.field_source | plain_text %}
                            <span>{{ content.field_source }}</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}
            {% block description_block %}
                {% if content.field_description | render is not empty %}
                    <div class="text-description">{{ content.field_description }}</div>
                {% endif %}
            {% endblock %}

            {% block socials_block %}
                <div class="socials socials-bar">
                    <div class="item-social icon-facebook"
                         data-url="{{ (share_url ~ "Sharing_Facebook") | e('html_attr') }}"
                         data-media-url="{{ share_img_url | e('html_attr') }}"
                         data-description="{{ content.field_description | plain_text | e('html_attr') }}"
                         target="_blank" data-social-type="facebook"></div>

                    <div class="item-social icon-pinterest"
                         data-url="{{ (share_url ~ "Sharing_Pinterest") | e('html_attr') }}"
                         data-media-url="{{ share_img_url | e('html_attr') }}"
                         data-description="{{ content.field_description | plain_text | e('html_attr') }}"
                         data-social-type="pinterest"></div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}
{% endif %}