{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if content %}
    <div class="item-media">
        <div class="embed-responsive embed-responsive-16by9 video-container" itemscope=""
             itemtype="http://schema.org/videoObject">
            <iframe src="https://www.youtube.com/embed/{{ content.field_video_id }}" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="caption">
            {% block copyright_block %}
                {% if content.field_copyright | render is not empty or content.field_source | render is not empty %}
                    <div class="text-copyright">
                        {% if content.field_copyright | render %}
                            <span>{{ content.field_copyright }}</span>
                        {% endif %}
                        {% if content.field_source | render %}
                            <span>{{ content.field_source }}</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}

            {% if content.field_description|render %}
                <div class="text-description">{{ content.field_description }}</div>
            {% endif %}

            {% block socials_block %}
                <div class="socials socials-bar">
                    <div class="item-social icon-facebook"
                         data-url="https://www.youtube.com/embed/{{ content.field_video_id | e('url') }}"
                         data-social-type="facebook"></div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endif %}
