{{ attach_library('infinite/sidebar-navigation') }}
{% set group_outer_class = '' %}
{% if progress_navigation.0 | render is not empty %}
  {% set group_outer_class = 'usage__progress-navigation' %}
{% endif %}
<div class="item-content__block item-group--outer-wrapper">
    <div class="item-group--outer {{group_outer_class}}">
        {% if progress_navigation.0 | render is not empty %} 
            <div class="sidebar-navigation">
                <div data-btn-action="class-extend" data-btn-action-value="btn__open-tree--is-open" class="btn__open-tree" data-btn-action-target=".sidebar-navigation">
                    <span>Alle</span>
                </div>
                <ul class="links">
                {% for navigation in progress_navigation %}
                    <li>
                        <span class="progress"></span>
                        <a href="#" id="{{ navigation | clean_id}}">{{ navigation }}</a>
                        <span class="mobile-hidden-label">{{ navigation }}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <aside class="socials socials-bar socials-vertical-bar">
                {% block socials_vertical_bar %}
                    {% embed '@infinite/embeds/social_icons.html.twig' with {
                    'url': parent.url,
                    'label': parent.label,
                    'twitter_share_via': parent.twitter_share_via,
                    'email_share_text': parent.email_share_text,
                    'email_subject': parent.email_subject,
                    'whatsapp_share_text': parent.whatsapp_share_text,
                    } %}
                    {% endembed %}
                {% endblock %}
            </aside>
        {% endif %}
        
        {{ children }}

        {% block content_tags %}
            {{ parent.field_tags }}
        {% endblock %}

        <div class="region-fixed-content socials socials-bar socials-horizontal-bar item-content__block">
            {% block socials_horizontal_bar %}
                {% embed '@infinite/embeds/social_icons.html.twig' with parent %}
                {% endembed %}
            {% endblock %}
        </div>
    </div>
</div>
