{% set attachment_before_classes = [
'region-infinite-block',
'region-full-content',
] %}

{% set first_infinite_block_classes = [
'region-infinite-block',
'region-full-content',
] %}

{% set infinite_block_classes = [
'region-infinite-block',
'region-full-content',
'region-lazy-loading',
'infinite-item',
] %}

{% set attachment_before_attributes = attachment_before_attributes is empty ? create_attribute() : attachment_before_attributes %}
{% set first_infinite_block_attributes = first_infinite_block_attributes is empty ? create_attribute() : first_infinite_block_attributes %}
{% set infinite_block_attributes = infinite_block_attributes is empty ? create_attribute() : infinite_block_attributes %}

{% set attachment_before_attributes = attachment_before_attributes.setAttribute('data-view-type', 'infiniteBlockView') %}
{% set first_infinite_block_attributes = first_infinite_block_attributes.setAttribute('data-view-type', 'infiniteBlockView') %}
{% set infinite_block_attributes = infinite_block_attributes.setAttribute('data-view-type', 'infiniteBlockView') %}

{% if rows %}
    {% if attachment_before and view.getCurrentPage == 0 %}
        <div {{ attachment_before_attributes.addClass(attachment_before_classes) }}>
            {{ attachment_before }}
        </div>
    {% endif %}

    <div
            {% if view.getCurrentPage == 0 %}
                {{ first_infinite_block_attributes.addClass(first_infinite_block_classes) }}
            {% endif %}

            {% if view.getCurrentPage > 0 %}
                {{ infinite_block_attributes.addClass(infinite_block_classes) }}
                {% if path %}
                    data-history-url="{{ path }}"
                {% endif %}

                {% if content.field_seo_title %}
                    data-history-title="{{ content.field_seo_title | plain_text | replace({'"': ''}) }}"
                {% endif %}
            {% endif %}
    >

        {% if header %}
            {{ header }}
        {% endif %}

        <div class="region-full-content region-teaser-list">
            <div class="container-fixed-content">
                <div class="item-content__row--sidebar">
                    <div class="item-content__row-col col--left teaser-list-large">
                        {{ rows }}
                    </div>
                    <div class="item-content__row-col col--right">
                        {% if sidebar %}
                            <div class="item-sticky">
                                {{ sidebar }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if footer %}
            {{ footer }}
        {% endif %}

        {% if attachment_after %}
            {{ attachment_after }}
        {% endif %}

        {% if view.getCurrentPage == 0 %}
        <div id="feed" class="region-full-content region-feed"
                {% if use_view_type is not defined or use_view_type != false %}
                    data-view-type="feedView"
                {% endif %}
        >
            <div class="region-full-content container-content-dynamic container-feed-items"></div>
            {% endif %}
            {% if pager %}
                {{ pager }}
            {% endif %}
            {% if view.getCurrentPage == 0 %}
        </div>
        {% endif %}
    </div>
{% else %}
    {% if attachment_before and view.getCurrentPage == 0 %}
        {{ attachment_before }}
    {% endif %}

    {% if header %}
        {{ header }}
    {% endif %}

    {{ empty }}

    {% if footer %}
        {{ footer }}
    {% endif %}

    {% if attachment_after %}
        {{ attachment_after }}
    {% endif %}
{% endif %}


