<div class="region-full-content region-lazy-loading region-infinite-block infinite-item" data-view-type="infiniteBlockView" data-history-url="{{ path }}"
     data-history-title="{{ content.field_seo_title | plain_text | replace({'"': ''}) }}">
    {% if header %}
        {{ header }}
    {% endif %}

    {% if rows %}
        <div class="region-full-content region-teaser-list">
            <div class="container-content container-fixed-content container-row">
                <div class="container-row-body teaser-list teaser-list-large teaser-list-vertical"
                     data-view-type="feedTeaserView">
                    {{ rows }}
                </div>
                <div class="container-row-sidebar">
                    {% if sidebar %}
                        <div class="item-sticky" data-view-type="stickyView">
                            {{ sidebar }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% elseif empty %}
        {{ empty }}
    {% endif %}

    {% if footer %}
        {{ footer }}
    {% endif %}

    {% if pager %}
        {{ pager }}
    {% endif %}
</div>

