{# Process label to be plain_text and trimmed always #}
{% set label = label|plain_text|trim %}
{% set pinterest_share_description = pinterest_share_description|plain_text|trim %}
{% set whatsapp_share_text = whatsapp_share_text|plain_text|trim %}
{% set url = url ~ "?utm_medium=social&utm_campaign=Sharing&utm_source=" %}

{{ attach_library('infinite/infinite.social-apis') }}

{% block social_facebook %}
    <div class="item-social icon-facebook" data-url="{{ url ~ "Sharing_Facebook" | e('url') }}"
         data-description="{{ label | e('html_attr') }}" data-social-type="facebook">
        {% if facebook_share_button %}
            <span>{{ facebook_share_button }}</span>
        {% endif %}
    </div>
{% endblock %}
{% block social_whatsapp %}
    <a class="item-social icon-whatsapp"
       href="whatsapp://send?text={{ (whatsapp_share_text ~ label ~ ' - ' ~ url ~ "Sharing_Whatsapp") | e('url') }}"
       data-social-type="whatsapp" rel="nofollow">
        {% if whatsapp_share_button %}
            <span>{{ whatsapp_share_button }}</span>
        {% endif %}
    </a>
{% endblock %}

{% block social_pinterest %}
    <div class="item-social icon-pinterest" data-url="{{ (url ~ "Sharing_Pinterest") | e('html_attr') }}"
         data-media-url="{{ (pinterest_share_img_url|default(share_img_url)) | e('html_attr') }}"
         data-description="{{ pinterest_share_description|default(label) | e('html_attr') }}"
         data-social-type="pinterest">
        {% if pinterest_share_button %}
            <span>{{ pinterest_share_button }}</span>
        {% endif %}
    </div>
{% endblock %}

{% block social_twitter %}
    <a class="item-social icon-twitter"
       href="https://twitter.com/intent/tweet?text={{ label | e('url') ~ '&url=' ~ (url  ~ "Sharing_Twitter") | e('url') ~ '&via=' ~ twitter_share_via | e('url') }}"
       target="_blank" data-social-type="twitter" rel="nofollow">
        {% if twitter_share_button %}
            <span>{{ twitter_share_button }}</span>
        {% endif %}
    </a>
{% endblock %}

{% block social_email %}
    <div class="item-social icon-email" data-url="{{ (url ~ "Sharing_Email") | e('url') }}"
         data-email-share-text="{{ email_share_text | e('html_attr') }}"
         data-email-subject="{{ email_subject | e('html_attr') }}" data-description="{{ label | e('html_attr') }}"
         data-social-type="email">
        {% if email_share_button %}
            <span>{{ email_share_button }}</span>
        {% endif %}
    </div>
{% endblock %}
