{% if content %}
    <div class="item-media item-media--nexx-video">
        <div class="embed-responsive embed-responsive-16by9" itemscope="" itemtype="http://schema.org/videoObject">
            {% spaceless %}
                <meta itemprop="description" content="{{ content.field_description | render | striptags | trim | replace({"\n":' ', "\r":' '})}}" />
                <meta itemprop="name" content="{{ content.name | render | striptags | trim }}" />
                <meta itemprop="thumbnailURL" content="{{ content.field_preview_image | render | trim }}" />
                <meta itemprop="uploadDate" content="{{ content.created }}" />
            {% endspaceless %}
            {{ content|without('field_copyright', 'field_description', 'field_preview_image', 'created', 'name')}}
        </div>
        <div class="caption">
            {% if content.field_copyright|render  %}
                <div class="text-copyright">{{ content.field_copyright }}</div>
            {% endif %}
            {% if content.field_description|render %}
                <div class="text-description">{{ content.field_description }}</div>
            {% endif %}
        </div>
    </div>
{% endif %}
