{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'item-paragraph',
'item-paragraph--' ~ view_mode|clean_class,
'item-paragraph--' ~ paragraph.bundle|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
    <div class="img-container spotlight__img-container">
        {{ content.field_media }}
    </div>
    <div class="caption spotlight__caption">
        {% if has_headline %}
            <div class="title spotlight__title">
                <h1>{{ content.field_title }}</h1>
            </div>
            <div class="subtitle spotlight__subtitle">
                <h2>{{ content.field_subtitle }}</h2>
            </div>
        {% else %}
            <div class="title spotlight__title">
                <h2>{{ content.field_title }}</h2>
            </div>
            <div class="subtitle spotlight__subtitle">
                <h3>{{ content.field_subtitle }}</h3>
            </div>
        {% endif %}
        <div class="copytext spotlight__copytext">
            {{ content.field_text }}
        </div>
        {% if has_socials %}
        <div class="socials socials-bar spotlight__socials">
            {% block teaser_social_bar %}
                {% embed '@infinite/embeds/social_icons.html.twig' with {'facebook_share_button': '', 'whatsapp_share_button': '', 'pinterest_share_button': '', 'twitter_share_button': '', 'email_share_button': ''}  %}
                {% endembed %}
            {% endblock %}
        </div>
        {% endif %}
    </div>
</div>