{% set url = url('<current>') %}

{% if 'fia/nodes.xml' in url|render|render %}
    <h3 class="item-paragraph__title">{{ 'Shop-the-look: Mit diesen Produkten den Look easy nachstylen'|trans }}</h3>{% else %}
{% endif %}

<div{{ attributes }}>
    {% for widget in items %}
    <div{{ widget.attributes }}>

        {% set product_one %}
            {{ widget.content.product_one }}
        {% endset %}

        {% set product_two %}
            {{ widget.content.product_two }}
        {% endset %}


        {% if 'fia/nodes.xml' in url|render|render %}
        {% if product_one|striptags|render|trim is not empty %}
            {% set attributes = attributes.setAttribute('data-product-variant', 'high') %}
            <div {{ attributes }}>
                <h6>{{ high }}</h6>
                {{ drupal_entity('advertising_product', product_one|striptags|render|trim, 'facebook_instant_articles_rss') }}
            </div>
        {% endif %}
        {% if product_one|striptags|render|trim is not empty %}
            {% set attributes = attributes.setAttribute('data-product-variant', 'low') %}
            <div {{ attributes }}>
                <h6>{{ low }}</h6>
                {{ drupal_entity('advertising_product', product_two|striptags|render|trim, 'facebook_instant_articles_rss') }}
            </div>
        {% endif %}
    {% else %}
        {% if product_one|striptags|render|trim is not empty and product_two|striptags|render|trim is not empty%}
        <div class="product-widgets two-items">
            {% else %}
            <div class="product-widgets one-item">
                {% endif %}
                {% if product_one|striptags|render|trim is not empty %}
                    {% set attributes = attributes.setAttribute('data-product-variant', 'high') %}
                    <div {{ attributes }} class="high">
                        <span class="label">{{ high }}</span>
                        {{ drupal_entity('advertising_product', product_one|striptags|render|trim, 'look') }}
                    </div>

                {% endif %}
                {% if product_two|striptags|render|trim is not empty %}
                    {% set attributes = attributes.setAttribute('data-product-variant', 'low') %}

                    <div {{ attributes }} class="low">
                        <span class="label">{{ low }}</span>
                        {{ drupal_entity('advertising_product', product_two|striptags|render|trim, 'look') }}
                    </div>

                {% endif %}
                {% endif %}
            </div>



            <div{{ widget.pin_attributes }}>{{ widget.pin_content }}</div>

        </div>
        {% endfor %}
    </div>
