<div id="page">
    <main role="main" id="main" class="container-main">
        <header id="header">
            {{ page.header_large }}
            {{ page.header }}
        </header>

        {{ page.help }}
        {{ page.highlighted }}

        <div id="content" class="region-content">

            {#<div class="region-full-content swipeable--horizontal region__seo-linker--image" data-view-type="listSwipeableView">#}
                {#<div class="container-content container-fixed-content seo-linker--image">#}
                    {#<h3 class="seo-linker__title">TEST</h3>#}
                    {#<div class="swipeable__wrapper list__images--horizontal">#}

                        {#<div class="swipeable__item seo-linker__item--image">#}
                            {#<div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">#}
                                {#<img srcset="http://instyle.dev/sites/default/files/styles/square_m/public/Teaser_Duschen_iStock_000072493571_Medium.jpg?itok=_2OQO6N3"#}
                                     {#alt="Mantel Frau Streetstyle" title="Mantel Frau Streetstyle">#}
                            {#</div>#}
                            {#<div class="list-wrapper--seo-linker">#}
                                {#<div class="seo-linker__item-title">HAARE</div>#}
                                {#<ol class="seo-linker__link-list--image">#}
                                    {#<li><a href="#">Haar Trends</a></li>#}
                                    {#<li><a href="#">Graue Haare</a></li>#}
                                    {#<li><a href="#">Trockenshampoo</a></li>#}
                                    {#<li><a href="#">Thema</a></li>#}
                                    {#<li><a href="#">Thema</a></li>#}
                                    {#<li><a href="#">Trockenshampoo gegen fettiges Haar</a></li>#}
                                {#</ol>#}
                            {#</div>#}

                        {#</div>#}
                        {#<div class="swipeable__item seo-linker__item--image">#}
                            {#<div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">#}
                                {#<img srcset="http://instyle.dev/sites/default/files/styles/square_m/public/Teaser_Duschen_iStock_000072493571_Medium.jpg?itok=_2OQO6N3"#}
                                     {#alt="Mantel Frau Streetstyle" title="Mantel Frau Streetstyle">#}
                            {#</div>#}
                            {#<div class="list-wrapper--seo-linker">#}
                                {#<div class="seo-linker__item-title">HAARE</div>#}
                                {#<ol class="seo-linker__link-list--image">#}
                                    {#<li><a href="#">Haar Trends</a></li>#}
                                    {#<li><a href="#">Graue Haare</a></li>#}
                                    {#<li><a href="#">Trockenshampoo</a></li>#}
                                    {#<li><a href="#">Thema</a></li>#}
                                    {#<li><a href="#">Thema</a></li>#}
                                    {#<li><a href="#">Trockenshampoo gegen fettiges Haar</a></li>#}
                                {#</ol>#}
                            {#</div>#}

                        {#</div>#}
                        {#<div class="swipeable__item seo-linker__item--image">#}
                            {#<div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">#}
                                {#<img srcset="http://instyle.dev/sites/default/files/styles/square_m/public/Teaser_Duschen_iStock_000072493571_Medium.jpg?itok=_2OQO6N3"#}
                                     {#alt="Mantel Frau Streetstyle" title="Mantel Frau Streetstyle">#}
                            {#</div>#}
                            {#<div class="list-wrapper--seo-linker">#}
                                {#<div class="seo-linker__item-title">HAARE</div>#}
                                {#<ol class="seo-linker__link-list--image">#}
                                    {#<li><a href="#">Haar Trends</a></li>#}
                                    {#<li><a href="#">Graue Haare</a></li>#}
                                    {#<li><a href="#">Trockenshampoo</a></li>#}
                                    {#<li><a href="#">Thema</a></li>#}
                                    {#<li><a href="#">Thema</a></li>#}
                                    {#<li><a href="#">Trockenshampoo gegen fettiges Haar</a></li>#}
                                {#</ol>#}
                            {#</div>#}

                        {#</div>#}
                        {#<div class="swipeable__item seo-linker__item--image">#}
                            {#<div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">#}
                                {#<img srcset="http://instyle.dev/sites/default/files/styles/square_m/public/Teaser_Duschen_iStock_000072493571_Medium.jpg?itok=_2OQO6N3"#}
                                     {#alt="Mantel Frau Streetstyle" title="Mantel Frau Streetstyle">#}
                            {#</div>#}
                            {#<div class="list-wrapper--seo-linker">#}
                                {#<div class="seo-linker__item-title">HAARE</div>#}
                                {#<ol class="seo-linker__link-list--image">#}
                                    {#<li><a href="#">Haar Trends</a></li>#}
                                    {#<li><a href="#">Graue Haare</a></li>#}
                                    {#<li><a href="#">Trockenshampoo</a></li>#}
                                    {#<li><a href="#">Thema</a></li>#}
                                    {#<li><a href="#">Thema</a></li>#}
                                    {#<li><a href="#">Trockenshampoo gegen fettiges Haar</a></li>#}
                                {#</ol>#}
                            {#</div>#}

                        {#</div>#}
                    {#</div>#}

                {#</div>#}
            {#</div>#}

            {{ page.content }}
        </div>
    </main>
</div>
{{ page.sidebar }}
{{ page.modal }}