<div id="page">
    <main id="main" class="container-main">
        <header id="header">
            {{ page.header_large }}
            {{ page.header }}
        </header>

        {{ page.help }}
        {{ page.highlighted }}

        <div id="content" class="region-content">
            {{ page.content }}
        </div>
    </main>
</div>
{{ page.sidebar }}
{{ page.modal }}