<div id="page">
    <main role="main" id="main" class="container-main">
        <header id="header">
            {{ page.header_large }}
            {{ page.header }}
        </header>

        {{ page.help }}
        {{ page.highlighted }}

        <div id="content" class="region-content">

            <div class="region-full-content region-teaser-list region-teaser-link-list" data-view-type="teaserLinkListView">
                <div class="container-content container-fixed-content">

                    <div class="teaser-list teaser-list-horizontal">
                        <article class="teaser teaser-square-small contextual-region" data-nid="11891"
                                 data-internal-url="http://instyle.dev/fashion/der-perfekte-wintermantel-fuer-jede-figur">
                            <div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">
                                <picture>
                                    <!--[if IE 9]>
                                    <video style="display: none;"><![endif]-->
                                    <source srcset="http://instyle.dev/sites/default/files/styles/square_m/public/Teaser_Duschen_iStock_000072493571_Medium.jpg?itok=_2OQO6N3"
                                            media="all and (min-width: 0px)" type="image/jpeg">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img srcset="http://instyle.dev/sites/default/files/styles/square_m/public/Teaser_Duschen_iStock_000072493571_Medium.jpg?itok=_2OQO6N3"
                                         alt="Mantel Frau Streetstyle" title="Mantel Frau Streetstyle">

                                </picture>


                            </div>
                            <div class="caption caption-teaser">
                                <div class="text-link-list-title">
                                    HAARE
                                </div>
                                <ol class="container-teaser-link-list">
                                    <li><a href="#">Haar Trends</a></li>
                                    <li><a href="#">Graue Haare</a></li>
                                    <li><a href="#">Trockenshampoo</a></li>
                                    <li><a href="#">Thema</a></li>
                                    <li><a href="#">Thema</a></li>
                                    <li><a href="#">Trockenshampoo gegen fettiges Haar</a></li>
                                </ol>
                            </div>
                        </article>

                        <article class="teaser teaser-square-small contextual-region" data-nid="11776"
                                 data-internal-url="http://instyle.dev/beauty/ist-morgens-oder-abends-die-richtige-zeit-zum-duschen">
                            <div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">
                                <picture>
                                    <!--[if IE 9]>
                                    <video style="display: none;"><![endif]-->
                                    <source srcset="http://instyle.dev/sites/default/files/styles/square_m/public/Teaser_Duschen_iStock_000072493571_Medium.jpg?itok=_2OQO6N3 1x"
                                            media="all and (min-width: 0px)" type="image/jpeg">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img srcset="http://instyle.dev/sites/default/files/styles/square_s/public/Teaser_Duschen_iStock_000072493571_Medium.jpg?itok=ay2nBspb"
                                         alt="000072493571_Frau Duschen Spa Wellness"
                                         title="000072493571_Frau Duschen Spa Wellness">

                                </picture>


                            </div>
                            <div class="caption caption-teaser">
                                <h2 class="text-headline">
                                    <a href="http://instyle.dev/beauty/ist-morgens-oder-abends-die-richtige-zeit-zum-duschen"
                                       target="_self">Morgens oder abends? Wann du duschen solltest</a>
                                </h2>
                            </div>
                        </article>

                        <article class="teaser teaser-square-small contextual-region" data-nid="11911"
                                 data-internal-url="http://instyle.dev/fashion/socken-schuhen-so-traegt-man-es">
                            <div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">
                                <picture>
                                    <!--[if IE 9]>
                                    <video style="display: none;"><![endif]-->
                                    <source srcset="http://instyle.dev/sites/default/files/styles/square_m/public/Socken1-Paris-str-RS16-A-0460.jpg?itok=sNqkQIJ1 1x"
                                            media="all and (min-width: 0px)" type="image/jpeg">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img srcset="http://instyle.dev/sites/default/files/styles/square_s/public/Socken1-Paris-str-RS16-A-0460.jpg?itok=IznrZjKL"
                                         alt="Socken Streetstyle Schuhe" title="Socken Streetstyle Schuhe">

                                </picture>


                            </div>
                            <div class="caption caption-teaser">
                                <h2 class="text-headline">
                                    <a href="http://instyle.dev/fashion/socken-schuhen-so-traegt-man-es" target="_self">I
                                        Sock's dir: So trägt man Socken als Hingucker</a>
                                </h2>
                            </div>
                        </article>

                        <article class="teaser teaser-square-small contextual-region" data-nid="11886"
                                 data-internal-url="http://instyle.dev/lifestyle/fernbeziehung-5-tricks-wie-die-liebe-auf-distanz-haelt">
                            <div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">
                                <picture>
                                    <!--[if IE 9]>
                                    <video style="display: none;"><![endif]-->
                                    <source srcset="http://instyle.dev/sites/default/files/styles/square_m/public/Teaser_Fernbeziehung_iStock_000078382595_Full.jpg?itok=M5dQi-I- 1x"
                                            media="all and (min-width: 0px)" type="image/jpeg">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img srcset="http://instyle.dev/sites/default/files/styles/square_s/public/Teaser_Fernbeziehung_iStock_000078382595_Full.jpg?itok=LmHw6Xus"
                                         alt="Paar Fernbeziehung" title="Paar Fernbeziehung">

                                </picture>


                            </div>
                            <div class="caption caption-teaser">
                                <h2 class="text-headline">
                                    <a href="http://instyle.dev/lifestyle/fernbeziehung-5-tricks-wie-die-liebe-auf-distanz-haelt"
                                       target="_self">Fernbeziehung: 5 Tricks, wie die Liebe auf Distanz hält</a>
                                </h2>
                            </div>
                        </article>


                    </div>

                </div>
            </div>

            {{ page.content }}
        </div>
    </main>
</div>
{{ page.sidebar }}
{{ page.modal }}