<div id="page">
    <header id="header">
        {{ page.header }}
    </header>

    {{ page.help }}
    {{ page.highlighted }}

    <main id="main" class="container-main">
        <div id="content" class="region-content">
            {{ page.content }}

        </div>
    </main>
</div>
{{ page.sidebar }}
{{ page.modal }}
