{% block header_block %}
    <div class="item-content__header">
        <div class="ratio-wrapper">
            <div class="caption">
                <h1 class="title--page">Shopping Deals</h1>
            </div>
        </div>
    </div>
{% endblock %}

<div id="coupon__filter" class="item-content__content region-full-content coupon__filter">
    <div class="region-fixed-content">
        {{ exposed }}
    </div>
</div>


{{ rows }}
{{ empty }}
{{ pager }}

{% block footer_block %}
    {% if footer %}
        <div class="item-content__content region-full-content coupon__description">
            <div class="region-fixed-content">
                {{ footer }}
            </div>
        </div>
    {% endif %}
{% endblock %}
