{#
/**
 * @file
 * Default theme implementation to display a formatted blazy image/media field.
 *
 * The Blazy supports core image, responsive image and media entity.
 * If iframe switcher is enabled, audio/video iframe will be hidden below image
 * overlay, and only visible when toggled. Otherwise iframe only, and image is
 * emptied.
 *
 * Available variables:
 *   - image: A collection of image data.
 *   - attributes: An array of attributes.
 *   - content_attributes: An array of content attributes, including iframe SRC.
 *   - url: An optional URL the image can be linked to, can be any of
 *       audio/video, or entity URLs, when using Colorbox/Photobox, or Link to
 *       content.
 *   - settings: An array containing the given settings.
 *
 * @see template_preprocess_blazy()
 *
 * @ingroup themeable
 */
#}

{%
  set content_classes = [
    'media__iframe',
    settings.ratio ? 'media__element'
  ]
%}

{% set player %}
  {% if settings.player %}
    <iframe{{ content_attributes.addClass(content_classes) }} allowfullscreen></iframe>
    {% if settings.media_switch %}
      <span class="media__icon media__icon--close"></span>
      <span class="media__icon media__icon--play"></span>
    {% endif %}
  {% endif %}
{% endset %}

{% set media %}
  {#<div{{ attributes.addClass(classes) }}>#}
    {{ image }}
    {{ player }}
    {{ settings.icon }}
  {#</div>#}
{% endset %}

{% spaceless %}
  {% if url and not settings.player %}
    <a href="{{ url }}"{{ url_attributes }}>{{ media }}</a>
  {% else %}
    {{ media }}
  {% endif %}

  {% if captions %}
    <div{{ caption_attributes }}>
    {% for caption in captions %}
      {% if caption.content %}
        <{{ caption.tag }} {{ caption.attributes }}>{{ caption.content }}</{{ caption.tag }}>
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
{% endspaceless %}
