{{ attach_library('infinite/infinite.views.ecommerce-slider-view') }}

{% set container_classes = [
'ecommerce-slider',
] %}

{% set ecommerceSliderClass = 'ecommerce-slider-' ~ nid %}
{% set hasBgImage = content.field_background_media | render is not empty %}
{% set attributes = hasBgImage == true ? attributes.addClass('bg-image') : attributes.addClass('no-bg-image') %}

{% if content.field_css_styles|render is not empty %}
    {% block ecommerce_style_block %}
        <style>
            {{ content.field_css_styles|render|striptags }}
        </style>
    {% endblock %}
{% endif %}

{% set attributes = attributes.setAttribute('data-view-type', 'ecommerceSlider') %}
{% set attributes = attributes.setAttribute('data-nid', nid ) %}
{% set attributes = attributes.setAttribute('data-slider', data_slider ) %}

<div {{ attributes.addClass(container_classes, ecommerceSliderClass) }}>

    <div class="ecommerce-slider__content-wrapper">

        <div class="swiper-button swiper-button-prev"></div>

        <div class="ecommerce-slider__content">
            <h3 class="ecommerce-slider__title">{{ label }}</h3>
            {% if content.field_campaign|render %}
                <span class="ecommerce-slider__campaign">
                    {{ content.field_campaign }}
                </span>
            {% endif %}

            <div class="swiper-container">
                <div class="ecommerce-slider__inner swiper-wrapper" class="ecommerce-slider__color-box">
                    {{ content.field_advertising_products }}
                </div>
            </div>

        </div>

        <div class="swiper-button swiper-button-next"></div>

    </div>

    {% if hasBgImage %}
        <div class="ecommerce-slider__bg">
            {{ content.field_background_media }}
        </div>
    {% endif %}

</div>
