{{ attach_library('infinite/infinite.views.ecommerce-slider-view') }}

<div class="ecommerce-slider" data-view-type="ecommerceSlider">

    <div class="ecommerce-slider__content-wrapper">

        <div class="swiper-button swiper-button-prev" style="color: {{ content.field_color_contrast.0 }}; background-color: {{ content.field_color_button.0 }};"></div>

        <div class="ecommerce-slider__content" style="background-color: {{ content.field_color_box.0 }};">

            <h3 class="ecommerce-slider__title" style="color: {{ content.field_color_text.0 }};">{{ label }}</h3>
            {% if content.field_campaign|render %}
            <span style="color: {{ content.field_color_text.0 }};">
                {{ content.field_campaign }}
            </span>
            {% else %}
                {{ content.field_campaign }}
            {% endif %}

            <div class="swiper-container">
                <div class="ecommerce-slider__inner swiper-wrapper" class="ecommerce-slider__color-box">
                    {{ content.field_advertising_products }}
                </div>
            </div>

        </div>

        <div class="swiper-button swiper-button-next" style="color: {{ content.field_color_contrast.0 }}; background-color: {{ content.field_color_button.0 }};"></div>

    </div>

    <div class="ecommerce-slider__bg">
        {{ content.field_background_media }}
    </div>
</div>