{% extends "@burda_infinite/node/node.html.twig" %}

{% block content_header %}
  {% block sponsored %}
    {% include '@burda_infinite/node/twig-block-sponsored.html.twig' %}
  {% endblock %}

  {% if has_header_block %}
    <h2 class="text-headline text-headline-size-h1">{{ label }}</h2>
  {% else %}
    <h1 class="text-headline text-headline-size-h1">{{ label }}</h1>
  {% endif %}
  {{ author_teaser }}
{% endblock %}

{% block content_highlighted %}
  {% if content.field_top_paragraphs %}
    <div class="item-content-highlighted">
      {{ content.field_top_paragraphs }}
    </div>
  {% endif %}
{% endblock %}

{% block content_body %}
  {% if content.field_paragraphs['#items'] %}
    {{ content.field_paragraphs }}
    {{ content.field_tags }}
  {% endif %}
{% endblock %}
