{{ attach_library('slick/slick') }}
{{ attach_library('instyle_infinite/instyle_infinite.views.ecommerce-slider-view') }}


<div class="ecommerce-slider" data-view-type="ecommerceSlider">

    <h3 class="ecommerce-slider__title">{{ label }}</h3>
    <div class="ecommerce-slider__company">{{ content.field_campaign }}</div>

    <div class="ecommerce-slider__inner" style="background-color: {{ content.field_color_box.0 }};" class="ecommerce-slider__color-box">
        {{ content.field_advertising_products }}
    </div>

    <div>BG  media: {{ content.field_background_media }}</div>

</div>

<style>
    .ecommerce-slider__inner .slick-arrow {
        color: {{ content.field_color_contrast.0 }};
        background-color: {{ content.field_color_button.0 }};
    }
</style>