<div class="ecommerceslider">
    <h3 class="title--ecommerceslider">{{ label }}</h3>
    <div class="colorbutton--ecommerceslider">field_color_button: {{ content.field_color_button.0 }}</div>
    <div>field_color_contrast: {{ content.field_color_contrast.0 }}</div>
    <div>field_color_box: {{ content.field_color_box.0 }}</div>

    <div>company: {{ content.field_campaign }}</div>
    <div>BG  media: {{ content.field_background_media }}</div>


    {{ dump(content.field_campaign) }}

    {{ content.field_advertising_products }}

</div>