{{ attach_library('instyle_infinite/instyle_infinite.views.ecommerce-slider-view') }}

<div class="ecommerce-slider" data-view-type="ecommerceSlider">

    <div class="ecommerce-slider__content-wrapper">

        <div class="swiper-button swiper-button-prev"></div>

        <div class="ecommerce-slider__content" style="background-color: {{ content.field_color_box.0 }};">

            <h3 class="ecommerce-slider__title">{{ label }}</h3>
            {{ content.field_campaign }}

            <div class="swiper-container">
                <div class="ecommerce-slider__inner swiper-wrapper" class="ecommerce-slider__color-box">
                    {{ content.field_advertising_products }}
                </div>
            </div>

        </div>

        <div class="swiper-button swiper-button-next"></div>

    </div>

    <div class="ecommerce-slider__bg">
        {{ content.field_background_media }}
    </div>
</div>


<style>

    .swiper-button-next,
    .swiper-button-next,
    .item-paragraph--ecommerce-slider-paragraph .ecommerce-slider .swiper-button-prev,
    .item-paragraph--ecommerce-slider-paragraph .ecommerce-slider .swiper-button-next

    {
        color: {{ content.field_color_contrast.0 }};
        background-color: {{ content.field_color_button.0 }};
    }

    .item-paragraph--ecommerce-slider-paragraph .ecommerce-slider .item-product-slider .text-shop,
    .page-ecommerce-slider .ecommerce-slider .item-product-slider .text-shop,
    .region-ecommerceslider .item-product-slider .text-shop
    {
        color: {{ content.field_color_contrast.0 }};
        background-color: {{ content.field_color_button.0 }};
        border-color: {{ content.field_color_button.0 }};
    }

</style>