{% if content.field_top_paragraphs | render is not empty or content.field_paragraphs | render is not empty %}
  {% extends "/themes/custom/infinite/burda_infinite/templates/node/node.html.twig" %}

  {% block content_header %}
    {% block sponsored %}
      {% include '@burda_infinite/node/twig-block-sponsored.html.twig' %}
    {% endblock %}

    {% if has_header_block %}
      <h2 class="text-headline text-headline-size-h1">{{ label }}</h2>
    {% else %}
      <h1 class="text-headline text-headline-size-h1">{{ label }}</h1>
    {% endif %}
    {{ author_teaser }}
  {% endblock %}

  {% block content_highlighted %}
    <div class="item-content-highlighted">
      {{ content.field_top_paragraphs }}
    </div>
  {% endblock %}

  {% if content.field_paragraphs['#items'] %}
    {% block content_body %}
      {{ content.field_paragraphs }}
      {{ content.field_tags }}
    {% endblock %}
  {% endif %}
{% endif %}
