{# Add wrapper classes #}
{% set wrapper_classes = [
'teaser',
'contextual-region',
] %}

{% set attributes = attributes.setAttribute('data-nid', nid) %}

<article{{ attributes.addClass(wrapper_classes) }}>
    <div class="teaser__img-container" itemscope="" itemtype="http://schema.org/imageObject" data-internal-url="{{ url }}">
        {% block teaser_img_container %}
            {% if (view_mode == 'presenter_half' and content.field_presenter_media['#items'] is not empty) %}
                {{ content.field_presenter_media }}
            {% else %}
                {{ content.field_teaser_media }}
            {% endif %}
        {% endblock %}
    </div>

    {% block teaser_caption_block %}
        <div class="teaser__caption">
            {% block teaser_caption_channel %}
                <div class="teaser__overhead">
                    {{ content.field_channel }}
                </div>
            {% endblock %}

            {% block sponsored %}
                {% embed '@infinite/node/twig-block-sponsored.html.twig' %}
                {% endembed %}
            {% endblock %}

            {% block teaser_text_headline %}
                <h2 class="teaser__title">
                    <a href="{{ url }}" target="_self" rel="bookmark">{{ label }}</a>
                </h2>
            {% endblock %}

            {% block teaser_text %}{% endblock %}

            <header>
                {% block teaser_author %}
                    {{ author_teaser }}
                {% endblock %}
                {% block teaser_content %}{% endblock %}
                <div class="socials socials-bar">
                    {% block teaser_social_bar %}
                        {% embed '@infinite/embeds/social_icons.html.twig' with {'facebook_share_button': '', 'whatsapp_share_button': '', 'pinterest_share_button': '', 'twitter_share_button': '', 'email_share_button': ''} %}
                        {% endembed %}
                    {% endblock %}
                </div>
            </header>
        </div>
    {% endblock %}
    {% if (show_contextual_links) %}
        {{ title_suffix.contextual_links }}
    {% endif %}
</article>
