{{ attach_library('infinite/infinite.views.ecommerce-slider-view') }}

{% set container_classes = [
'ecommerce-slider',
] %}

{% set ecommerceSliderClass = 'ecommerce-slider-' ~ node.id() %}
{% set hasBgImage = node.field_background_media.isEmpty() %}
{% set attributes = hasBgImage == true ? attributes.addClass('bg-image') : attributes.addClass('no-bg-image') %}

{% if not node.field_css_styles.isEmpty() %}
    {% block ecommerce_style_block %}
        <style>
            {{ content.field_css_styles|render|striptags }}
        </style>
    {% endblock %}
{% endif %}

{% set attributes = attributes.setAttribute('data-view-type', 'ecommerceSlider') %}
{% set attributes = attributes.setAttribute('data-nid', nid ) %}
{% set attributes = attributes.setAttribute('data-slider', data_slider ) %}

<div {{ attributes.addClass(container_classes, ecommerceSliderClass) }}>
    <div class="ecommerce-slider__content-wrapper">

        <div class="swiper-button swiper-button-prev"></div>

        <div class="ecommerce-slider__content">
            <h3 class="ecommerce-slider__title">{{ label }}</h3>
            {% if not node.field_campaign.isEmpty() %}
                <span class="ecommerce-slider__campaign">
                    {{ content.field_campaign }}
                </span>
            {% endif %}
            {% if content.field_suppress_affiliate_link[0]['#markup'] != '1' and content.field_e_view_mode[0]['#markup'] != 'single_product' %}
                <div class="affiliatelinks">
                    <a href="/affiliatelinks" rel="nofollow" target="_self">Affiliatelinks</a>
                </div>
            {% endif %}
            <div class="swiper-container">
                <div class="ecommerce-slider__inner swiper-wrapper" class="ecommerce-slider__color-box">
                    {{ content.field_advertising_products }}
                </div>
            </div>

        </div>

        <div class="swiper-button swiper-button-next"></div>

    </div>

    {% if hasBgImage %}
        <div class="ecommerce-slider__bg">
            {{ content.field_background_media }}
        </div>
    {% endif %}

</div>
