{% set wrapper_classes = [
'teaser', 'contextual-region'
] %}

{% set attributes = attributes.setAttribute('data-nid', nid) %}
{% set attributes = attributes.setAttribute('data-internal-url', url) %}

<article{{ attributes.addClass(wrapper_classes) }}>
    <div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">
        {% block teaser_img_container %}
            {{ content.field_teaser_media }}
        {% endblock %}
    </div>

    <div class="caption caption-teaser">

        {% block teaser_caption_channel %}{% endblock %}

        {% block sponsored %}
        {% embed '@infinite/node/twig-block-sponsored.html.twig' %}
        {% endembed %}
        {% endblock %}

        {% block teaser_text_headline %}
            <h2 class="text-headline">
                <a href="{{ url }}" target="_self">{{ label }}</a>
            </h2>
        {% endblock %}

    </div>

    {% if (show_contextual_links) %}
        {{ title_suffix.contextual_links }}
    {% endif %}

</article>
