{#
/**
 * @file product.html.twig
 * Default theme implementation to present Product data.
 *
 * This template is used when viewing Product pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - data_attributes: HTML data-* attributes for tracking properties.
 *
 * @see template_preprocess_product()
 *
 * @ingroup themeable
 */
#}
{% if content.active %}
  {# TODO remove next line, after testing #}
    {#{{ attach_library('infinite/infinite.views.product-view') }}#}
    {% set data_attributes = data_attributes.setAttribute('data-view-type', 'productView') %}

    <div class="item-ecommerce item-product" {{ data_attributes }}
         data-product-category="{{ content.field_product_category_txt | render | striptags | trim }}"
         data-view-type="productView">
        <div class="img-container">
            {{ content.file }}
        </div>
        <div class="caption">
            <div class="text-brand">{{ content.brand }}</div>
            <div class="text-headline">{{ content.title }}</div>
            <div class="text-price">{{ content.formattedprice }}</div>
            <div class="text-shop">Zum Shop</div>
        </div>
    </div>
{% endif %}
