{% if use_container %}
    <{{ block_tag|raw }} {{ attributes }}>
{% endif %}

  {% if not label is empty and label_display is defined %}

  <{{ title_tag }} {{ title_attributes }}>{{ label }}</{{ title_tag }}>

  {% endif %}

  {% block content %}
      <div class="container-sidebar-content container-marketing ad-inactive marketing-view" data-view-type="marketingView">
          {#<span class="item-label">Anzeige</span>#}
          <div class="item-marketing">
              <a class="item-marketing__fallback" href="http://www.instyle.de" target="_self"></a>
              {{ content }}
          </div>
      </div>
  {% endblock %}

{% if use_container %}
</{{ block_tag|raw }}>
{% endif %}
