{% if use_container %}
    <{{ block_tag|raw }} {{ attributes }}>
{% endif %}

  {% if not label is empty and label_display is defined %}

  <{{ title_tag }} {{ title_attributes }}>{{ label }}</{{ title_tag }}>

  {% endif %}

  {% block content %}
      <div class="region-full-content region-marketing ad-inactive" data-view-type="marketingView">
          <div class="container-content container-fixed-content container-marketing">
              {#<span class="item-label">Anzeige</span>#}
              <div class="item-marketing">
                  {{ content }}
              </div>
          </div>
      </div>
  {% endblock %}

{% if use_container %}
</{{ block_tag|raw }}>
{% endif %}