{# Add wrapper classes #}
{% set wrapper_classes = [
'teaser',
'teaser--lexicon',
'contextual-region',
] %}

{% if content.field_smart_teaser_class is defined and content.field_smart_teaser_class is not empty %}
    {% set smart_teaser_class = content.field_smart_teaser_class|render %}
    {% set wrapper_classes = wrapper_classes|merge([smart_teaser_class]) %}
{% endif %}

{% set attributes = attributes.setAttribute('data-nid', nid) %}

<article{{ attributes.addClass(wrapper_classes) }}>
    {% block teaser_img_container_wrapper %}
        <div class="teaser__img-container" data-internal-url="{{ url }}">
            {% block teaser_img_container %}
                {{ content.field_teaser_media }}
            {% endblock %}
        </div>
    {% endblock %}

    {% block teaser_caption_block %}
        <div class="teaser__caption">
            {% block teaser_caption_channel %}
            {% endblock %}

            {% block sponsored %}
            {% endblock %}

            {% block teaser_text_headline %}
                <h3 class="teaser__title text-headline">
                    <a href="{{ url }}" target="_self" rel="bookmark">{{ label }}</a>
                </h3>
            {% endblock %}

            {% block teaser_text %}
                {% if content.field_teaser_text %}
                    <p class="teaser__copy">
                        {{ content.field_teaser_text }}
                    </p>
                {% endif %}
            {% endblock %}

            {% block header_block %}
            {% endblock %}
        </div>
    {% endblock %}
    {% if (show_contextual_links) %}
        {{ title_suffix.contextual_links }}
    {% endif %}
</article>
