{#
/**
 * @file
 * Default theme implementation to present the author of a node.
 *
 * Available variables:
 * - author_id
 * - author_forename
 * - author_surname
 * - author_url
 * - author_picture
 * - timestamp (deprecated)
 * - created_timestamp
 * - changed_timestamp
 * - use_absolute_date
 *
 * @see template_preprocess_author_teaser()
 *
 * @ingroup themeable
 */
#}
{% if author_id != 0 or (timestamp) %}
<div class="author item-author"
    {% if author_id != 0 and (author_forename is not empty or author_surname is not empty) %}
        data-internal-url="{{ author_url }}"
    {% endif %}
>

    {% if author_id != 0 %}
        {{ author_picture }}
        {% if timestamp %}
            {% if use_absolute_date %}
                <time itemprop="date" datetime="{{ timestamp|format_date('html_datetime') }}" title="">{{ timestamp|format_date('custom', 'd. F Y') }}</time>
            {% else %}
                <time class="text-timestamp" itemprop="date" datetime="{{ timestamp|format_date('html_datetime') }}" title="">{{ timestamp }}</time>
            {% endif %}
        {% endif %}
        </div> {# TODO: opened in user--author-teaser.html.twig #}
    {% else %}
        <div class="caption">
            {% if timestamp %}
                {% if use_absolute_date %}
                    <time itemprop="date" datetime="{{ timestamp|format_date('html_datetime') }}" title="">{{ timestamp|format_date('custom', 'd. F Y') }}</time>
                {% else %}
                    <time class="text-timestamp" itemprop="date" datetime="{{ timestamp|format_date('html_datetime') }}" title="">{{ timestamp }}</time>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
</div>
{% endif %}