{#
/**
 * @file
 * Default theme implementation to present the author of a node.
 *
 * Available variables:
 * - author_id
 * - author_forename
 * - author_surname
 * - author_url
 * - author_picture
 * - timestamp (deprecated)
 * - created_timestamp
 * - changed_timestamp
 * - use_absolute_date
 *
 * @see template_preprocess_author_teaser()
 *
 * @ingroup themeable
 */
#}
{% set has_name = (author_forename | render is not empty or author_surname | render is not empty) %}
{% set has_pircture = author_picture | render is not empty %}

{% if author_id != 0 or (timestamp) %}
    {% if has_pircture or has_name %}
    <div class="author item-author"
        {% if author_id != 0 and has_name %}
            data-internal-url="{{ author_url }}"
        {% endif %}
    >

        {% if author_id != 0 %}
            {{ author_picture }}
            {% if timestamp %}
                {% if use_absolute_date %}
                    <time itemprop="date" datetime="{{ timestamp|format_date('html_datetime') }}" title="">{{ timestamp|format_date('custom', 'd. F Y') }}</time>
                {% else %}
                    <time class="text-timestamp" itemprop="date" datetime="{{ timestamp|format_date('html_datetime') }}" title="">{{ timestamp }}</time>
                {% endif %}
            {% endif %}
            </div> {# TODO: opened in user--author-teaser.html.twig #}
        {% else %}
            <div class="caption">
                {% if timestamp %}
                    {% if use_absolute_date %}
                        <time itemprop="date" datetime="{{ timestamp|format_date('html_datetime') }}" title="">{{ timestamp|format_date('custom', 'd. F Y') }}</time>
                    {% else %}
                        <time class="text-timestamp" itemprop="date" datetime="{{ timestamp|format_date('html_datetime') }}" title="">{{ timestamp }}</time>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endif %}