{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
{# Add wrapper classes #}
{% set wrapper_classes = [
'item-content__content'
] %}

<div class="region-full-content region-user item-content item-content--user no-v-padding">
    {% block content_header_block %}
        <div class="item-content__header">
            <div class="ratio-wrapper">
                <div class="caption">
                    {% if has_header_block %}
                        {% if content.field_forename %}
                            <h2 class="title--page">{{ content.field_forename }} {{ content.field_surname }}</h2>
                        {% else %}
                            <h2 class="title--page">{{ content.first_name }} {{ content.last_name }}</h2>
                        {% endif %}
                    {% else %}
                        {% if content.field_forename %}
                            <h1 class="title--page">{{ content.field_forename }} {{ content.field_surname }}</h1>
                        {% else %}
                            <h1 class="title--page">{{ content.first_name }} {{ content.last_name }}</h1>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
    <div{{ attributes.addClass(wrapper_classes) }} >
        {{ content.field_paragraphs }}
    </div>
</div>
